.box{
   display: flex;
   flex-direction: column;
  
}
.reply{
    
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
}

.comment{
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 10px;
    margin-bottom: 10px;
}
.btn {
    margin-right: 100%;
    width: 6%;
    border: 1px solid blue;
}

.card{
    margin-top: 50px;
}